<div class="row">
  <div class="col">
    <h2>Site Links</h2>
  </div>

  <div class="col">

  </div>

  <div class="col">

  </div>
</div>

<div class="row">
  <div class="social-icns">
    <a class="bi bi-github" href="https://github.com/DKC195" target="_blank"></a>
    <a class="bi bi-instagram" href="https://instagram.com/DKC195" target="_blank"></a>
    <a class="bi bi-facebook" href="https://facebook.com/DKC195" target="_blank"></a>
    <a class="bi bi-linkedin" href="https://www.linkedin.com/in/dkc195" target="_blank"></a>
    <a class="bi bi-twitter" href="https://www.twitter.com/dkc195" target="_blank"></a>
  </div>

</div>