@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

footer {
  background-color: rgba(34, 34, 34);
  padding: 10px;
}

footer>a{
  text-decoration: none;
  color: white;
}

footer>div.col {
 
}

footer>div.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

footer div.social-icns {
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
  padding: 0 0 100px 0;
  width: 400px;
}

footer div.social-icns>a {
  height: 22px;
  width: 22px;
  padding: 16px 19px 19px 19px;
  border-radius: 50%;
  background-color: rgb(66, 52, 52);
  color: white;
  font-size: 22px;
}

