@font-face {
  font-family: Sans;
  src: url();
}


:root {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  color: var(--body-bg);
}

