nav {
  position: fixed;
  width: calc(100% - 10px);
  background-color: var(--nav-bg);
  justify-content: center;
  border: 5px dashed var(--border-main1);
}

div#junk {
  position: fixed;
  width: 100vw;
  height: 66px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

nav>div#content {
  justify-content: center;
  display: flex;
  flex-flow: row;
  z-index: 2;
}

nav>div>a {
  padding: 20px 10px;
  color: var(--nav-txt);
  text-decoration: none;
  font-size: 14px;
}

div.junk {
  height: 68px;
}