nav {
  position: fixed;
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: var(--nav-bg);
  justify-content: center;
  border: 5px dashed var(--border-main1);

}

nav a {
  padding: 20px 10px;
  color: var(--nav-txt);
  text-decoration: none;
  font-size: 14px;
  
}

div.junk {
  height: 68px;
}
